@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    --body: 19, 19, 19;
    --primary: 30, 127, 203;
    --text: 255, 255, 255;

    background: rgba(var(--body));
    color: rgba(var(--text))
}

.light {
    --body: 255, 255, 255;
    --primary: 30, 127, 203;
    --text: 19, 19, 19;

    background: rgba(var(--body));
    color: rgba(var(--text))
}

.input {
    border-radius: 5px;
    background-color: rgba(var(--text), 0.10);
    padding: 4px 8px;
    outline: none;
    outline-offset: 0;
    box-shadow: none;
}